@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<style>
   .bgc{
       background-color:#14181C;
   }
</style>
    <body class="bgc">
        <div style="color:white">
            <h2>About Us</h2>
            <p>
               I am <strong>Ganesh shah</strong> Student Of National Institute Of Technology Silchar<br />
                The Technologies I used to create this web-app are:<br />
                ASP.NET Core 2.2 Razor Pages<br />
                SQL<br />
                HTML<br />
                CSS<br />
                Javascript<br />
                Bootstrap<br />


            </p>
        </div>

    </body>
