@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" type="text/css" href="~/css/animation.css">
<div class="contacttext">
    <h1>Contact Us</h1>
    <address>
        National Institute Of Technology Silchar<br />
        Cachar, Assam<br />
        <abbr title="Phone">Phone-no.:</abbr>
        8876833712
    </address>

    <address>
        <strong>Email:</strong> <a href="https://www.google.com/gmail/">shahganesh777@gmail.com</a><br />

    </address>

</div>
