@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}  
    <link rel="stylesheet" type="text/css" href="~/css/animation.css">
    <body >
    
        <div class="typewriter pos">
            <h1>Your One Stop Movie Solution. MovieGallery</h1>
        </div>
    </body>
   